<h1>Listing shopping_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Is on list</th>
    <th>Has been bought</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shopping_items.each do |shopping_item| %>
  <tr>
    <td><%= shopping_item.name %></td>
    <td><%= shopping_item.is_on_list %></td>
    <td><%= shopping_item.has_been_bought %></td>
    <td><%= shopping_item.position %></td>
    <td><%= link_to 'Show', shopping_item %></td>
    <td><%= link_to 'Edit', edit_shopping_item_path(shopping_item) %></td>
    <td><%= link_to 'Destroy', shopping_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shopping item', new_shopping_item_path %>
